{% extends 'base.html.twig' %}
{% block title %} Home {% endblock %}
{% block body %}
    <div class='row'>
        {% for service in services %}
            {% if service.isVisibleHomepage %}
                <div class='col-12'>
                    <div class="card text-center bg-dark p-2">
                        <img class="card-img" src="{{ service.img }}" alt="Desc img providers">
                        <a href="services/{{ service.id }}/show" class="card-footer mt-1 p-2 btn btn-info">Voir le service</a>
                    </div>
                </div>
            {% endif %}
                {% endfor %}       
    </div></h3>
</div>
{#<div class='container text-light'>
    <h4 class='p-1'>// Les prestataires en avant {# { 'Prestataires mis en avant' | trans }  }</h4>
    <div class='row'>
        {#
        Boucle pour récupérer prestataires.name/description/id
        }
            {% for prestataire in prestataires %}
                {% if prestataire.ispublic  == 1 %}
                    <div class=' col-6 col-md-6 col-sm-12'>
                        <div class=''>
                            <img class="d-block" src="{{ prestataire.img }}" alt="{{prestataire.id}}">
                            <h6 class='p-1 text-center text-dark'>{{prestataire.name}}</h6>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
    </div>
</div>#}
    <div class='row'>
        <div class="bg-info text-white text-center vertical align-middle ">
            <h4 class="p-3">Les catégories de services</h4>
        </div>
        {% for category in categorys %}
            <div class='p-1 col-4'>
                <div class='bg-dark'>
                    <img src="{{ category.urlImg }}" class="d-block card-img" alt="{{category.id}}">
                    <h6 class='p-2 text-center text-info text-bold'><a href='./categorys/{{category.id}}'>{{category.name}}</a></h6>
                </div>
            </div>
        {% endfor %}
{% endblock %}