{% extends 'base.html.twig' %}

{% block title %}S'inscrire à bient-être{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {% if app.user %}
    <div class="alert alert-warning">Vous êtes déjà inscrit et connecter !</div>
    {% else %}
    <h2 class="text-white">Inscription</h2>
    <div class="p-4">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.roles) }}
            {{ form_row(registrationForm.agreeTerms) }}
    
            <button type="submit" class="btn btn-outline-info text-center">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
    {% endif %}
   
{% endblock %}
