{% extends 'base.html.twig' %}

{% block title %}S'inscrire à bient-être{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {% if app.user %}
    <div class="alert alert-warning">Vous êtes déjà inscrit et connecter !</div>

    {% else %}
    <h1 class="h3 mb-3 text-white text-center">S'inscrire</h1>
    <div class="p-4 text-white text-center">
        {{ form_start(registrationForm) }}
            <div class="mb-2">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="mb-2">
                {{ form_row(registrationForm.plainPassword) }}
            </div>
            <div class="mb-2">
                {{ form_row(registrationForm.roles) }}
            </div>
            <div class="mb-2">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
            <button type="submit" class="btn btn-outline-info text-center">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
    {% endif %}
   
{% endblock %}
