{% extends 'base.html.twig' %}
{% block title %}Listes des utilisateurs{% endblock %}
{% block body %}
<div class='row p-3 m-1'>
{% for userCurrent in user %}
    <div class='col-12 p-2'>
        <div class="card text-center">  
            <h3 class='text-center text-info p-2 '>{{ userCurrent.username }}</h3>
            <img class="card-img-top" src="{{ userCurrent.img }}" alt="{{ userCurrent.username }} image of profil">
            <div class="card-body">
                <h5 class="card-title bg-dark p-1"><a class='text-white' href='profil/{{ userCurrent.id }}'>{{ userCurrent.username }}</a></h5>
                Role : <p class="card "> {{userCurrent.roles}}</p>
                Password : <p class="card ">{{userCurrent.password}}</p>
                Type_utilisateur :<p class="card ">{{userCurrent.roles}}</p>
                Nombre d'essai infructueux : <p class="card ">{{userCurrent.roles}}</p>
                Inscription confirmer ?<p class="card ">{{userCurrent.roles}}</p>
                Localite_id <p class="card ">{{userCurrent.roles}}</p>
                <adresse class='card bg-dark text-white'>
                        {{ userCurrent.adresseNum }}, {{ userCurrent.adresse }} <br>
                </address>
            </div>
        
    </div>
{% endfor %}
{% endblock %}
