{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Administration bien-être{% endblock %}

{% block main %}
{% if is_granted("ROLE_PRESTATAIRE") %}
<div class="alert alert-danger"><b>Vous êtes prestataire ! </b> Vous devez allez sur <a href="/gestion">/gestion</a> pour gérez vos préstations.</div>
{% endif %}
{% if is_granted("ROLE_ADMIN") %}
    <h1> Bienvennu sur votre espace d'administration !</h1>
    <div class='container'>
        {% if app.debug %}  
        <div class='alert alert-danger'>Mode debug is <strong> true </strong></div>
        {% else %}
        <div class='alert alert-success'>Mode debug is <strong> false </strong></div>
        {% endif %}
        <td>Type Environement</td>
        <td>{{ dump(app.environment)}}</td>
        <td>App</td>
        <td>{{ dump(app) }}</td>
        <td>User</td>
        <td>{{ dump(app.user) }} </td>
        <td>session</td>
        <td>{{ dump(app.session) }} </td>
        <td>Requêtes</td>
        <td>{{ dump(app.request)}}</td>
    </div>
{% endif %}
{% endblock %}