                    <aside class='text-white'>
                        <nav class="p-3 bg-dark row">
                            <div class=' col-md-12' id="login">
                                {% if app.user %}
                                    {# Si l'utilisateur est connecter #}                        
                                    {% if app.user.IsVerified %}
                                        {# Si l'utilisateur a valider son compte #} 
                                            <img src="{{ app.user.img }}" alt="Votre photo de profil"  class="img-fluid rounded">
                                            <p class="text-center p-1 text-info border rounded border-success ">{{ app.user.email }}</p>
                                            <div class=" d-md-block text-md-center d-sm-flex justify-content-sm-center p-3 border rounded border-info">
                                                <a class='btn btn-outline-info mb-3' href='{{ path("profil_index") }}'><i class="fas fa-user mr-3"></i> Mon profil</a>
                                                <a class='btn btn-danger' href='{{ path("app_logout") }}'><i class="fas fa-sign-out-alt mr-3"></i> Se déconnecter</a>
                                            </div>
                                    {% else %}
                                    {# Si l'utilisateur n'a pas valider son compte #}
                                        <img src="{{ app.user.img }}" alt="photo de profil de {{ app.user.email }}" class="img-fluid rounded text-center">
                                        <p class="p-1  text-center text-info border rounded border-danger">
                                            ({{ app.user.email }})
                                        </p>
                                        <p class="text-center">
                                            <a class='btn btn-outline-danger' href='{{ path("app_logout") }}'><i class="fas fa-sign-out-alt"></i> Se déconnecter</a>
                                        </p>
                                {% endif %}
                                {% else %}
                                {# Si l'utilisateur est pas connecter #}
                                <div class="text-center" id="login">
                                    <div class=" d-md-block text-md-center d-sm-flex justify-content-sm-center p-3 border rounded border-warning">
                                        <a href="{{path('app_register')}}" class="mb-3 btn btn-info"><i class="fas fa-user-plus"></i> Inscription</a><br>
                                        <a href="{{path('app_login')}}" class="btn btn-outline-info"><i class="fas fa-user-check"></i> Connexion</a>
                                    </div>
                                </div>
                        {% endif %}
                            </div>
                            <div class="col-12 text-center">
                                {{ 
                                    render(controller(
                                    'App\\Controller\\SearchController::search'
                                    )) 
                                }} 
                            </div>
                        </nav>
                    </aside>