{% extends 'base.html.twig' %}
{% block title %} Rechercher un prestataire{% endblock %}
{% block body %}

{{ 
    render(controller(
        'App\\Controller\\SearchController::search'
    )) 
}} 

{% if app.request.method == 'POST' %}
    <div class="">
        {% if prestataires | length == 0 %}
        <h4 class="text-danger text-center">Aucun résulat pour votre recherche.</h4>
           {% else %}
               <h3 class="mt-3 text-info">Vos résulats de recherche :</h3>
               {% for prestataire in prestataires %}
                   <div class="mt-3 p-3 bg-light border rounded">
                       
                           <div class="row">
                               <div class="col-md-4">
                                   <a href="{{ path('prestataires_show', {'id': prestataire.id}) }}">
                                      <img src="{{ prestataire.urlLogo }}" alt="" class="img-thumbnail">
                                    </a>
                               </div>
                               <div class="col-md-8">
                                    <h4 class="text-info"><i class="fas fa-angle-right text-primary"></i> {{ prestataire.name }} | <span class="badge badge-info btn-outline-danger">{{ prestataire.categoryService }}</span></h4>
                                    <div class=" ml-1 text-md-left text-sm-center">
                                        <i class="fas fa-heart text-danger "></i>  {{ prestataire.numLike | length }} | <i class="fas fa-comments text-info"></i> {{ prestataire.numComment | length }} 
                                    </div>
                                    <h5 class="text-info small"> [CP :{{ prestataire.numPostal}} | Ville : {{prestataire.nameCity }}] </h5> 
                                    <p class="text-dark  p-1 rounded">
                                        {{ prestataire.descLong }}
                                    <div class=" p-1 text-right">
                                        {{ prestataire.price }}
                                          par <a href="{{ path('profil_show', {'id': prestataire.user.id}) }}">{{ prestataire.user.email }}</a>
                                    </div>
                                    
                                    <a class="btn btn-info" href="{{ path('prestataires_show', {'id': prestataire.id}) }}"><i class="fas fa-eye mt-2 mr-2"></i>Voir</a>
                                    <a class="btn btn-danger" href=""><i class="mt-2 fas fa-heart"></i></a>
                                </div>
                            </div>
                   </div>
              {% endfor %}
          {% endif %}
     </div>
{% else %}
<h4 class="mt-4 mb-4 text-info text-center"> Pas de préstataires </h4>
{% for prestataire in prestataires %}
<div class="mt-3 p-3 bg-light border rounded">
    <a href="{{ path('prestataires_show', {'id': prestataire.id}) }}">
        <div class="row">
            <div class="col-md-4">
                   <img src="{{ prestataire.urlLogo }}" alt="{{ prestataire.descShort }}" class="img-fluid">
            </div>
             <div class="col-md-4">
                 <h6 class="text-dark"><i class="bi bi-arrow-down-right-square-fill text-primary"></i> {{ prestataire.name }}</h6>
                 <p class="text-dark small p-1 rounded">
                     {{ prestataire.descShort }}
                 <div class="text-dark small p-1 rounded">
                       par {{ prestataire.user.email }}
                 </div>
                 <a class="btn btn-info" href="{{ path('prestataires_show', {'id': prestataire.id}) }}">Voir</a>
             </div>
         </div>
    </a>
</div>
{% endfor %}
    
{% endif %}

<!-- <h3 class='text-center text-white p-2'>Rechercher </h3>
<section class="search-sec ">
    <form action="{{ path('search') }}" method="post" novalidate="novalidate">
        <div class="row">
            <div class="input-group p-1 col-6">
                    <div class="form-group">
                        <label>Nom du préstataires</label>
                        <input type='text' name='name' id="name" class="form-control" placeholder="ex : Koif Koif">
                    </div>
            </div>
            <div class="input-group p-1 col-6">
                    <div class="form-group">
                        <label for="">Code Postal</label>
                        <input type="number" name="codePostal" id="codePostal" class="form-control" placeholder="ex : 4031">
                    </div>
            </div>
            <div class="input-group p-1 col-6">
                    <div class="form-group">
                        <label for="">Ville</label>
                        <input type="text" name="city" id="city" class="form-control" placeholder="ex : Liège">
                    </div>
            </div>
            <div class="input-group p-1 col-6">
                    <div class="form-group">
                        <label>Catégories</label>
                        <select name='category' id="category_select_search" class="form-select form-control" aria-label="-- No select --">
                            <option class="text-dark" value='null'>Choisir une categories</option>
                            {% for category in categorys %}
                            <option class="text-dark" value='{{category.id}}'>{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
            </div>
            <div class="text-center p-1 col-12">
                    <a href='search' class="btn btn-info text-info"><i class='fas fa-search mr-3'></i> Rechercher</a>
            </div>
        </div>
    </form>
    <div class='p-5 row'>
        {% for prestataire in prestataires %}
            <div class='col-4 mb-4'>
                <div class="card text-center p-2">
                    <img class="card-img-top" src="{{prestataire.urlLogo}}" alt="Desc img providers">
                        <div class="card-body">
                                <h5 class="card-title"><a class="text-info" href='prestataires/{{ prestataire.id }}'>{{ prestataire.name }}</a></h5>
                                <p class="card-text text-white text-muted">{{ prestataire.descShort }}</p>
                                <a href="prestataires/{{ prestataire.id }}" class="btn btn-info">Voir</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
</section> -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function(){
        $("select").formSelect();
    });
    
</script>
{% endblock %}