
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="{{path('home')}}"><img class='navbar-brand' src="{{ asset('img/logo.png') }}" width="40" height="40" alt="Bien-Être"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ path('home') }}"><i class="fas fa-home"></i><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('about') }}"> <i class="fas fa-info"></i> A propos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('contact') }}"><i class="fas fa-paper-plane"></i> Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('prestataires_index') }}"><i class="fas fa-list"></i> Annuaire</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('services_index') }}"><i class="fas fa-list"></i> Catégories de services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('recents') }}"> <i class="fas fa-list-alt"></i> Prestataires récents</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('admin') }}"> <i class="fas fa-tools"></i> Panel d'administration</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('search') }}"><i class='fas fa-search'></i> Recherche avancer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('profil_index') }}"><i class='fas fa-user'></i> Mon profil</a>
                </li>
             </ul>
        </div>
    </nav>
