
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item btn">
                  <a class="nav-link text-light ml-2" href="{{ path('home') }}"><i class="fas fa-home mr-2"></i><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item btn">
                  <a class="nav-link text-light ml-2" href="{{ path('about') }}"> <i class="fas fa-info mr-2"></i> A propos</a>
                </li>
                <li class="nav-item btn">
                  <a class="nav-link text-light ml-2" href="{{ path('contact') }}"><i class="fas fa-paper-plane mr-2"></i> Contact</a>
                </li>
                {% if is_granted('ROLE_INTERNAUTE') %}
                <li class="nav-item btn">
                  <a class="nav-link text-light ml-2" href="{{ path('prestataires_index') }}"><i class="fas fa-list mr-2"></i>Les préstataires</a>
                </li>
                <li class="nav-item btn">
                  <a class="nav-link text-light ml-2" href="{{ path('categorys_index') }}"><i class="fas fa-list mr-2"></i> Catégories de services</a>
                </li>
                <li class="nav-item btn">
                  <a class="nav-link text-light ml-2" href="{{ path('recents') }}"> <i class="fas fa-list-alt mr-2"></i> Prestataires récents</a>
                </li>
                {% endif %}
                {% if  app.user %}
                <li class="nav-item btn">
                  <a class="nav-link text-light ml-2" href="{{ path('search') }}"><i class='fas fa-search mr-2'></i> Recherche</a>
                </li>
                <li class="nav-item btn">
                  <a class="nav-link text-light ml-2" href="{{ path('profil_index') }}">
                    <i class='fas fa-user mr-2'></i>
                     Mon profil
                    </a>
                </li>
                <li class="nav-item btn">
                  <a class="nav-link text-danger ml-2" href="{{ path('app_logout') }}"><i class='fas fa-sign-out-alt mr-2'></i> Déconnexion</a>
                </li>
                {% else %}
                <li class="nav-item btn">
                  <a class="nav-link text-light ml-2" href="{{ path('app_login') }}"><i class='fas fa-user mr-2'></i> Connexion</a>
                </li>
                <li class="nav-item btn">
                  <a class="nav-link text-light ml-2" href="{{ path('app_register') }}"><i class='fas fa-user-plus mr-2'></i> Inscription</a>
                </li>
                {% endif %}
                {% if  app.user %}
                  {% if  is_granted('ROLE_ADMIN') %}
                  <li class="nav-item btn">
                    <a class="nav-link text-light ml-2" href="{{ path('admin') }}"> <i class="fas fa-tools mr-2"></i> Panel d'administration</a>
                  </li>
                  {% endif %}
                  {% if is_granted('ROLE_PRESTATAIRE') %}
                  <li class="nav-item btn">
                    <a class="nav-link text-light ml-2" href="{{ path('gestion') }}"> <i class="fas fa-tools mr-2"></i> Mes prestations</a>
                  </li>
                  {% endif %}
                
                {% endif %}
             </ul>
        </div>
    </nav>
