{% extends 'base.html.twig' %}
{% block title %} Prestataires{% endblock %}
{% block body %}
<h3 class='text-center text-white p-2'>Les prestataires</h3>
<div class='row p-3 m-1'>
{% for prestataire in prestataires %}
    <div class='col-4'>
        <div class="card text-center">
            <img class="card-img-top" src="http://picsum.photos/id/2{{prestataire.id}}/600/300" alt="Desc img providers">
            <div class="card-body">
                <h5 class="card-title"><a href='prestataires/{{ prestataire.id }}'><p>{{ prestataire.name }} | {{prestataire.id}}</p></a></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.{# {prestataire.description} #}</p>
                <a href="prestataires/{{ prestataire.id }}" class="btn btn-primary">More..</a>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
